<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bree tech</title>
</head>
<body>
<h3>form</h3>
    

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
<input type="submit" value="submit task">
</form>



<h1>tasks from the database are </h1>
{% for tasks in result %}
<div>
    <a href="{% url 'update_task' tasks.id %}">update</a>
    <a href="{% url 'delete' tasks.id %}">delete</a>
    {% if tasks.completed == True %}
        <strike>{{tasks}}</strike>
    {% else %}
        <span>{{tasks}}</span>

      {% endif %}

</div>

{% endfor %}

</body>
</html>